.rich-text-popup.editor {
    position: relative;
    outline: none;
    min-height: 50px;
    padding: 10px;
    border-top: 1px solid #FFF;
}
.rich-text-popup.editor[contenteditable]:hover {
    border-top: 1px solid #EEE;
}
.rich-text-popup.editor[contenteditable]:focus {
    border-top: 1px solid #EAEAEA;
}
.rich-text-popup.editor p {
    z-index: 2;
    position: relative;
    min-height: 1px;
}

.rich-text-popup.editor p.placeholder {
    position: absolute;
    z-index: 1;
    opacity: 0.5;
    pointer-events: none;
}

.rich-text-popup p:first-child, .rich-text-popup p.placeholder + p {
    margin-top: 0;
}

.rich-text-popup.bubble{
    position: absolute;
    z-index: 3;
    height: 43px;
    opacity: 1;
    left: 0;
    top: 0;
    opacity: 0;
    border-radius: 5px;
    border: 1px solid #1C1C1B;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2), inset 0 0 2px rgba(255,255,255,0.2); /* Bubble Shadows */
    background: rgb(55,55,53);
	background: -moz-linear-gradient(top,  rgba(55,55,53,1) 0%, rgba(40,40,39,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,55,53,1)), color-stop(100%,rgba(40,40,39,1)));
	background: -webkit-linear-gradient(top,  rgba(55,55,53,1) 0%,rgba(40,40,39,1) 100%);
	background: -o-linear-gradient(top,  rgba(55,55,53,1) 0%,rgba(40,40,39,1) 100%);
	background: -ms-linear-gradient(top,  rgba(55,55,53,1) 0%,rgba(40,40,39,1) 100%);
	background: linear-gradient(to bottom,  rgba(55,55,53,1) 0%,rgba(40,40,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373735', endColorstr='#282827',GradientType=0 );
    transition: 0.15s ease-in-out;
    -webkit-transition: 0.15s ease-in-out;
}
.dt-toolbar {
    margin-bottom: 10px;
    text-align: right;
    height: 43px;
    border-radius: 5px;
    border: 1px solid #1C1C1B;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2), inset 0 0 2px rgba(255,255,255,0.2); /* Bubble Shadows */
    background: rgb(55,55,53);
    background: -moz-linear-gradient(top,  rgba(55,55,53,1) 0%, rgba(40,40,39,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,55,53,1)), color-stop(100%,rgba(40,40,39,1)));
    background: -webkit-linear-gradient(top,  rgba(55,55,53,1) 0%,rgba(40,40,39,1) 100%);
    background: -o-linear-gradient(top,  rgba(55,55,53,1) 0%,rgba(40,40,39,1) 100%);
    background: -ms-linear-gradient(top,  rgba(55,55,53,1) 0%,rgba(40,40,39,1) 100%);
    background: linear-gradient(to bottom,  rgba(55,55,53,1) 0%,rgba(40,40,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373735', endColorstr='#282827',GradientType=0 );
    transition: 0.15s ease-in-out;
    -webkit-transition: 0.15s ease-in-out;
}
.rich-text-popup.bubble.active {
    opacity: 1;
}

.rich-text-popup.bubble.jump {
    transition: opacity 0.15s;
    -webkit-transition: opacity 0.15s;
}

.rich-text-popup.bubble:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: -6px;
    margin-left: -8px;
    width: 16px;
    height: 16px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #282827;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.1); /* Triangle shadow */
}

.rich-text-popup.bubble ul, .dt-toolbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.rich-text-popup.bubble ul li, .dt-toolbar ul li{
    display: inline;
}

.rich-text-popup.bubble button, .dt-toolbar button {
    outline: none;
    border: none;
    background: transparent;
    width: 41px;
    height: 42px;
    font-family: FontAwesome;
    color: white;
    font-size: 14pt;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}
.dt-toolbar button:hover i{
    color: #60D778;
}
.dt-toolbar button:active i{
    color: #60D778;
}
.dt-toolbar button.disabled i{
    color: #AAA;
}

.rich-text-popup.bubble button.active, .dt-toolbar button.active {
    color: #60D778;
}

.rich-text-popup.bubble button.bold:after {
    content: "\f032";
}

.rich-text-popup.bubble button.italic:after {
    content: "\f033";
}

.rich-text-popup.bubble button.underline:after {
    content: "\f0cd";
}

.rich-text-popup.bubble button.anchor:after {
    content: "\f0c1";
}

.rich-text-popup.bubble button.paste:after {
    content: "\f0ea";
}

.rich-text-popup.bubble button.h1:after {
    font-family: inherit;
    content: "h1";
}

.rich-text-popup.bubble button.h2:after {
    font-family: inherit;
    content: "h2";
}

.rich-text-popup.bubble button.ul:after {
    font-family: inherit;
    content: "\f0ca";
}

.rich-text-popup.bubble button.ol:after {
    font-family: inherit;
    content: "\f0cb";
}

.rich-text-popup .link-area {
    display: none;
}

.rich-text-popup .link-area button {
    float: left;
}

.rich-text-popup .link-area button:after {
    content: "\f00d";
}

.rich-text-popup input[type=text] {
    width: 220px;
    height: 28px;
    margin: 6px 0 0 10px;
    background: none;
    border: none;
    outline: none;
    color:#fff;
    font-size: 14px;
    float: left;
}

.rich-img {
    position: relative;
    background: #FAFAFA;
    border-top: 1px solid #EEE;
    display: block;
    height: 150px;
    margin-bottom: 20px;
    overflow: hidden;
}
.rich-img .rich-img-toolbar {
    position: absolute;
    top: 5px;
    right: 10px;
}
.rich-img .img-btn {
    display: inline-block;
    overflow: hidden;
    margin: 5px;
    cursor: pointer;
    color: #AAA;
}
.rich-img .img-btn:hover {
    color: #333;
}
.rich-img .no-img-text {
    text-align: center;
    padding-top: 60px;
    color: #888;
}
.rich-img .image {
    position: absolute;
}
.preview-text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.preview-rich-img {
    background: transparent;
    border-top: 1px solid transparent;
}
.preview-rich-img .rich-img-toolbar {
    display: none;
}
.preview-rich-img .no-img-text {
    display: none;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover {
    background: rgb(55,55,53);
    background: -moz-linear-gradient(top,  rgba(55,55,53,1) 0%, rgba(40,40,39,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,55,53,1)), color-stop(100%,rgba(40,40,39,1)));
    background: -webkit-linear-gradient(top,  rgba(55,55,53,1) 0%,rgba(40,40,39,1) 100%);
    background: -o-linear-gradient(top,  rgba(55,55,53,1) 0%,rgba(40,40,39,1) 100%);
    background: -ms-linear-gradient(top,  rgba(55,55,53,1) 0%,rgba(40,40,39,1) 100%);
    background: linear-gradient(to bottom,  rgba(55,55,53,1) 0%,rgba(40,40,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373735', endColorstr='#282827',GradientType=0 );
}
.fixed-bar {
    position: fixed;
    right: -5px;
}
.template-container {
    position: relative;
}
.template-container .template-option {
    position: absolute;
    top: 0px;
    right: -30px;
    height: auto;
    border-radius: 3px;
    display: none;
}
.template-container:hover .template-option {
    display: block;
}
div.prev-template:hover .template-option {
    display: none;
}
.template-container .template-option ul{
    list-style: none;
}
.template-container .template-option ul li{
    display: block;
}
.template-container .template-option ul button{
    margin-bottom: -1px;
    width: 27px;
    height: 27px;
}
.choose-img-btn {
    overflow: hidden;
    text-align: right;
    background: #373735;
    border: 1px solid #1C1C1B;
}
.choose-img-btn button {
    margin: 5px 5px 5px 0px;
}
.choose-img-box {
    overflow-y: auto;
    overflow-x: auto;
    max-height: 300px;
    border: 1px solid #1C1C1B;
    border-bottom: 0px none;
    background: #282827;
    padding: 5px;
}
.choose-img-sbox {
    float: left;
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #1C1C1B;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2), inset 0 0 2px rgba(255,255,255,0.2); /* Bubble Shadows */
    background: rgb(55,55,53);
    background: -moz-linear-gradient(top,  rgba(55,55,53,1) 0%, rgba(40,40,39,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,55,53,1)), color-stop(100%,rgba(40,40,39,1)));
    background: -webkit-linear-gradient(top,  rgba(55,55,53,1) 0%,rgba(40,40,39,1) 100%);
    background: -o-linear-gradient(top,  rgba(55,55,53,1) 0%,rgba(40,40,39,1) 100%);
    background: -ms-linear-gradient(top,  rgba(55,55,53,1) 0%,rgba(40,40,39,1) 100%);
    background: linear-gradient(to bottom,  rgba(55,55,53,1) 0%,rgba(40,40,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373735', endColorstr='#282827',GradientType=0 );
    transition: 0.15s ease-in-out;
    -webkit-transition: 0.15s ease-in-out;
    cursor: pointer;
}
.choose-img-sbox div {
    margin: 5px;
    overflow: hidden;
    background: #282827;
}
.choose-img-sbox img {
    height: 150px;
}
.choose-img-sbox p {
    margin: 5px; 
    color: #FFF;
    overflow: hidden;
}
.choose-img-sbox.select p, .choose-img-sbox:hover p  {
    color: #60D778;
}
.center-text {
    text-align: center;
}
.fa-1 {
  font-size: 1em;
}
.fa-2 {
  font-size: 2em;
}
.fa-3 {
  font-size: 4em;
}
.fa-4 {
  font-size: 7em;
}
.fa-5 {
  font-size: 12em;
}
.fa-6 {
  font-size: 20em;
}
